.witbtn .whitebttn {
    text-align: center;
    border-radius: 100px;
    border: 3px solid #dadada;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    transition: background-color 0.2s ease-out, transform 0.3s ease-out;
    float: left;
}

.whitebttn:hover {
    background-color: white;
    color: #333333;
    transition: background-color 0.2s ease-in, transform 0.3s ease-in;
    /* transform: translateY(-0.15em); */
}

.witbtn {
    margin: 0;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
}

.whitebttn {
    padding-left: 4vh;
    padding-right: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.normbttn {
    color: #333333;
    background-color: white;
    box-shadow: 0 8px #747473;
}

.normbutton:hover {
    color: #333333;
    transform: translateY(-0.15em);
    background-color: white;
}

.flex-parent {  
    display: flex;
}

@media only screen and (max-width: 700px) {
    .flex-parent {
        display: block;
    }
    .witbtn .whitebttn {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
        font-size: 3.8vw;
        padding-left: 0;
        padding-right: 0;
    }
    
    .witbtn {
        margin: 0;
    }
}

.jc-center {
    justify-content: center;
}

.posParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posChild {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.pgWrapDark {
    background-color: #171a1f;
    padding: 2vw;
}

.coverImg {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: url(../assets/vnBanner_future_white_transparent.png);
    background-size: auto 40vh;
    background-position-x: 50%;
    /* filter: brightness(0) invert(1); */
}

/* .lastImg {
    position: relative;
    height: 20vh;
    width: 100%;
}

.lastImg::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 40vh;
    width: 100%;
    background-size: auto 30vh;
    background-position-x: 50%;;
    background-image: url(../assets/vnBanner_future_transparent.png);
} */

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 32px !important;
        line-height: 1em !important;
    }

    h2 {
        font-size: 24px !important;
    }

    p1 {
        font-size: 14px !important;
    }

    .coverImg {
        margin-top: 5vh;
        margin-bottom: 7vh;
        height: 15vh;
        width: 100%;
        background-size: auto 20vh;
        background-position-x: 50%;
    }

    /* .lastImg {
        position: relative;
        height: 10vh;
        width: 100%;
    }
    
    .lastImg::before {
        content: "";
        z-index: -1;
        position: absolute;
        height: 15vh;
        width: 100%;
        background-size: auto 15vh;
        background-position-x: 50%;
        background-position-y: 30%;
        background-image: url(../assets/vnBanner_future_transparent.png);
    } */
}


