body {
    /* background: url("./assets/streambg2.png");
    background-attachment: fixed; */
    background-color: #21252b;
    background-size: cover;
    font-family: 'Noto sans', sans-serif; 
    font-weight: 700;
    color: #dadada;
    line-height: 20px;
    margin: 0;
    position: relative;
    height: 100%;
    padding: 0;
  }
  
  .container {
    min-height: 100vh;
  }
  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 52px;
    font-style: normal;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  p1 {
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 18px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0em;
    margin-bottom: 3em;
  }
  
  a {
    color: #dadada;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }
  
  .last {
    padding-bottom: 6em !important;
    text-align: center;
  }
  
  html {
    --scrollbarBG: #121212;
    --thumbBG: #cfcfcf;
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0070c0; 
  }