.dropcheck {
    display: none;
}
nav ul {
    list-style: none;
    padding:0;
    background:#131418; /* color */
}
nav ul li a {
    color:#dadada;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}
nav ul li{
    border-bottom: 1px #ddd;
}
.dropdown-content {
    display: none;
}
.pulse {
    animation: none;
}
.pulse:hover {
    animation: move .4s infinite;
}
@keyframes move {    
    0%  {background:none}
    1%  {filter: drop-shadow(0)}
    2% {filter: drop-shadow(0 0 7px #0070c0)}
    100% {filter: drop-shadow(0 0 7px #0070c0)}
}

.pulse2:hover {
    animation: move2 .4s infinite;
}
@keyframes move2 {    
    0%  {background:none}
    1%  {filter: drop-shadow(0)}
    2% {filter: drop-shadow(0 0 7px #efc52c)}
    100% {filter: drop-shadow(0 0 7px #efc52c)}
}

  /* Mobile view */
@media only screen and (max-width: 650px) {
    .links {
        display:none;
    }
    .dropbtn {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .clickit {
        transition: all .3s ease-in-out;
    }
    .clickit:active{
        transform: scale(1.3);
        transition: .2s;
    }
    .pulse {
        animation: none;
    }
    .pulse:hover {
        animation: none;
    }
    .dropdown-content {
        display: none;
        text-align: center;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
        z-index: 1;
        background-color: #131418; /* color */
    }
    .dropdown-content a {
        color: #dadada;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content .icons {
        display: inline-block;
        padding: 1em 10px;
        transition: transform .3s ease-in-out;
        color: white;
        opacity: 0.9;
    }
    .dropdown-content .icons:hover {
        opacity: 1;
        transform: scale(1.5);
    }
    .dropcheck {    
      position: absolute;
      left: -9999px;
    }
    .dropcheck:checked ~ .dropdown-content {
        display: block;
    }
    /* .dropcheck:checked + .dropbtn {
        background-color: blue;
    } */
    a.middle {
      position: relative;
    }
    a.middle::before,a.middle::after {
        content: "";
        position: absolute;
        bottom:0;
        right: 0;
        width:0%;
        height: 2px;
        background:white;
        transition: .2s width ease-in-out;
    }
    a.middle::before {
        left: 0
    }
    a.middle:hover::after,a.middle:hover::before {
        width: 50%;
    }
    nav div:first-child img {
        width: 35%;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        background: #131418; /* color */
        align-items: baseline;
    }
      /* nav div:first-child img {
          width: 20%;
      } */
    nav ul {
        display: flex;
        align-items: center;
        background:none;
        /* flex-wrap: nowrap; */
        justify-content: flex-end;
    }
    
    nav div:first-child h1 {
        line-height: 0;
        padding: 5% 12.5% !important;
        padding: 0;
        margin:-20px 1rem;
        display: block !important;
    } 
    nav div:first-child img { 
        opacity: 0.9;
        height: auto;
    }
    nav div:first-child h1, nav ul{
        margin:0;
    }
    
    #navbar, #nav {
        position: fixed !important;
        z-index: 20 !important;
        top: 0px !important;
        box-shadow: 0 -2vw 3vw #0070c0;
    }

    .fixed {
        top: 0px !important;
        animation: none !important;
    }
}
  /* https://paulund.co.uk/css-animation-link-underline */
  /* styling logo */


/* Desktop View */

.desLogo img {
    float: left;
    /* padding: 0% 1%; */
    text-align: left;
    width: 120px;
    height: auto;
    padding: 20px 20px;
    /* justify-content: flex-start; */
}

.desMidWrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

.desMid, .desMiddle {
    pointer-events: visible;
}

.desMid {
    visibility: hidden;
}

.desMid img, .desMiddle img {
    width: 50px;
    height: auto;
}

nav div:first-child h1 {
    display: none;
}
    
.desWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

nav ul div {
    display: flex;
}

nav ul li {
    border-bottom:none;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
nav ul li a {
    padding:0 1rem;
    position: relative;
}
nav ul li a::before, nav ul li a::after {
    content: "";
    position: absolute;
    bottom:-6px;
    right: 0;
    width:0%;
    height: 2px;
    background:white;
    transition: .2s width ease-in-out;
}

nav ul li a::before {
    left:0;
}

nav ul li a:hover::after,nav ul li a:hover::before{
    width: 50%;
} 
     
#navbar, #nav {
    position: sticky;
    z-index: 1;
}

.fixed {
    position: fixed;
    top: -100px;
    width:100%;
    animation: slideDown .5s;
    animation-fill-mode: forwards, none;
    box-shadow: 0 -2vw 3vw #0070c0;
}

@keyframes slideDown {
    1% {
        top: -100px;
    }
    100% {
        top: 0;
    }
    
}